pyrofork==2.3.43
tgcrypto
pymongo>=4.5
motor>=3.0.0
marshmallow
umongo
git+https://github.com/Joelkb/cinemagoer
Heroku3
search_engine_parser
wget
aiofiles
ffmpeg-python
ffmpeg
requests
telegraph
ujson
pyshorteners
datetime
pytz
dnspython
aiohttp
python-math
Pillow
speedtest-cli
psutil
shortzy
Flask
gunicorn
aiohttp
